<aside class="social">
  <a href="https://wa.me/+79339952283" class="social__link" target="_blank">
    <img src="../../../img/social-icons/whatsapp.png" alt="whatsapp-icon">
  </a>
  <a href="https://t.me/M4sterGarden" class="social__link" target="_blank">
    <img src="../../../img/social-icons/telegram.png" alt="telegram-icon">
  </a>
  <a href="https://instagram.com/irina1994garipova?igshid=YmMyMTA2M2Y=" class="social__link" target="_blank">
    <img src="../../../img/social-icons/instagram.png" alt="instagram-icon">
  </a>
</aside>