<main class="main">
  <section class="main__intro intro-main">
    <div class="container">
      <div class="intro-main__header">
        <div class="intro-main__content">
          <h1 class="intro-main__title">Ландшафтный дизайн в Красноярске</h1>
          <div class="intro-main__description">Проекты благоустройства и озеленения территорий</div>
        </div>
        <div class="intro-main__phone-number">
          <a href="tel:+79339952283" class="phone-number">
            +7 933 995 22-83
          </a>
        </div>
      </div>
      <div class="intro-main__page">
        <div class="intro-main__text">
          Товарищи! рамки и место обучения кадров играет важную роль в формировании соответствующий условий активизации. Не следует, однако забывать, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Равным образом начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
        </div>
        <div class="intro-main__picture picture-intro-main">
          <img class="picture-intro-main__img" src="../../img/main/main.jpeg" alt="">
        </div>
      </div>
    </div>
  </section>
  <aside class="social">
    <a href="https://wa.me/+79339952283" class="social__link">
      <img src="../../img/social-icons/whatsapp.png" alt="whatsapp-icon">
    </a>
    <a href="https://t.me/M4sterGarden" class="social__link">
      <img src="../../img/social-icons/telegram.png" alt="telegram-icon">
    </a>
    <a href="https://instagram.com/irina1994garipova?igshid=YmMyMTA2M2Y=" class="social__link">
      <img src="../../img/social-icons/instagram.png" alt="instagram-icon">
    </a>
  </aside>
  <section class="about-me">
    <div class="container">
      <div class="about-me__content">
        <h2 class="about-me__title">Обо мне</h2>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <div class="services__content">
        <h2 class="services__title">Услуги</h2>
      </div>
    </div>
  </section>
  <section class="portfolio">
    <div class="container">
      <div class="portfolio__content">
        <h2 class="portfolio__title">Портфолио</h2>
      </div>
    </div>
  </section>
  <section class="contact-me">
    <div class="container">
      <div class="contact-me__content">
        <h2 class="contact-me__title">Давайте обсудим ваш проект</h2>
        <form action="#" class="contact-me__form">
          <div class="form-input mb-2">
            <label for="clientName" class="sr-only">Ваше имя</label>
            <input type="text" name="name" id="clientName" class="input-name required" placeholder="Ваше имя*">
          </div>
          <div class="form-input mb-2">
            <label for="clientTel" class="sr-only">Ваш номер телефона</label>
            <input type="tel" name="tel" id="clientTel" class="input-tel required" placeholder="Ваш номер телефона*">
          </div>
          <div class="form-input mb-2">
            <label for="clientMessage" class="sr-only">Ваше сообщение</label>
            <textarea id="clientMessage" name="message" class="input-message" placeholder="Ваше сообщение"></textarea>
          </div>
          <div class="small mb-1">
            <input id="formAccept" type="checkbox" name="accept" class="input-checkbox required">
            <label for="formAccept" class="label-checkbox">
              Нажимая на эту кнопку, вы соглашаетесь с политикой конфиденциальности*
            </label>
          </div>
          <button class="btn btn-green trigger">Отправить</button>
          <div class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h1>Заполните поля, отмеченные * и попробуйте еще раз</h1>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>