<main class="main">
  <section class="main__intro intro-main">
    <div class="container">
      <div class="intro-main__header">
        <div class="intro-main__content">
          <h1 class="intro-main__title">Ландшафтный дизайн в Красноярске</h1>
          <div class="intro-main__description">Проекты благоустройства и озеленения территорий</div>
        </div>
        <div class="intro-main__phone-number">
          <a href="tel:+79339952283" class="phone-number">
            +7 933 995 22-83
          </a>
        </div>
      </div>
      <div class="intro-main__page">
        <div class="intro-main__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quisquam libero eligendi repellat esse aspernatur modi tempora dolor veniam voluptas. Assumenda fuga aliquam atque pariatur dignissimos optio id? Placeat, deserunt?
          Corporis illum eius quae commodi numquam, itaque ratione earum eaque vitae consequatur modi quis ad voluptatem provident vero nihil facere culpa cumque doloribus, quo, consectetur totam eos! Excepturi, provident saepe!
          Sit molestias optio quis atque iste consectetur voluptate consequuntur nesciunt id aut aspernatur facere incidunt accusamus obcaecati officia harum, repudiandae aliquid quos. Delectus porro modi quam nemo quaerat repellat earum.
          Saepe dicta mollitia ratione quidem aliquid soluta incidunt molestias facilis veniam veritatis asperiores laborum labore possimus ipsum magnam totam doloremque nemo, quisquam voluptas quaerat rerum! Deserunt eos illum consectetur optio.
          Perferendis voluptas earum alias inventore perspiciatis. Impedit, labore eveniet. Accusamus, sequi vitae neque similique sint deserunt voluptates tenetur temporibus vel consectetur veritatis optio placeat et delectus, aperiam unde assumenda enim?
        </div>
        <div class="intro-main__picture picture-intro-main">
          <img class="picture-intro-main__img" src="../../img/main/main.jpeg" alt="">
        </div>
      </div>
    </div>
  </section>
  <aside class="social">
    <a href="https://wa.me/+79339952283" class="social__link" target="_blank">
      <img src="../../img/social-icons/whatsapp.png" alt="whatsapp-icon">
    </a>
    <a href="https://t.me/M4sterGarden" class="social__link" target="_blank">
      <img src="../../img/social-icons/telegram.png" alt="telegram-icon">
    </a>
    <a href="https://instagram.com/irina1994garipova?igshid=YmMyMTA2M2Y=" class="social__link" target="_blank">
      <img src="../../img/social-icons/instagram.png" alt="instagram-icon">
    </a>
  </aside>
  <section class="about-me">
    <div class="container">
      <div class="about-me__content">
        <h2 class="about-me__title">Обо мне</h2>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <div class="services__content">
        <h2 class="services__title">Услуги</h2>
      </div>
    </div>
  </section>
  <section class="portfolio">
    <div class="container">
      <div class="portfolio__content">
        <h2 class="portfolio__title">Портфолио</h2>
      </div>
    </div>
  </section>
  <section class="contact-me">
    <div class="container">
      <div class="contact-me__body">
        <div class="contact-me__content">
          <h2 class="contact-me__title">Получить консультацию</h2>
          <form action="#" class="contact-me__form">
            <div class="form-input mb-2">
              <label for="clientName" class="sr-only">Ваше имя</label>
              <input type="text" name="name" id="clientName" class="input-name required" placeholder="Ваше имя*">
            </div>
            <div class="form-input mb-2">
              <label for="clientTel" class="sr-only">Ваш номер телефона</label>
              <input type="tel" name="tel" id="clientTel" class="input-tel required" placeholder="Ваш номер телефона*">
            </div>
            <div class="form-input mb-2">
              <label for="clientMessage" class="sr-only">Ваше сообщение</label>
              <textarea id="clientMessage" name="message" class="input-message" placeholder="Ваше сообщение"></textarea>
            </div>
            <div class="small mb-1">
              <input id="formAccept" type="checkbox" name="accept" class="input-checkbox required">
              <label for="formAccept" class="label-checkbox">
                <span>Нажимая на эту кнопку, вы соглашаетесь с <a href="#">политикой конфиденциальности*</a></span>
              </label>
            </div>
            <button class="btn btn-green trigger" disabled>Отправить</button>
            <div class="modal">
              <div class="modal-content">
                  <span class="close-button">&#10006;</span>
                  <div class="modal-text"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="contact-me__img">
          <img src="../../img/main/project2.png" alt="">
        </div>
      </div>
    </div>
  </section>
</main>