<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__main">
        <div class="footer__column">
          <nav class="footer__menu menu-footer">
            <ul class="menu-footer__list">
              <li class="menu-footer__item">
                <a href="#" class="menu-footer__link">Главная</a>
              </li>
              <li class="menu-footer__item">
                <a href="#" class="menu-footer__link">Обо мне</a>
              </li>
              <li class="menu-footer__item">
                <a href="#" class="menu-footer__link">Услуги</a>
              </li>
              <li class="menu-footer__item">
                <a href="#" class="menu-footer__link">Портфолио</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__column">
          <div class="footer__label"></div>
          <div class="footer__social social-footer">
            <a href="https://wa.me/+79339952283" class="social-footer__link">
              <img src="../../img/social-icons/whatsapp.png" alt="whatsapp-icon">
            </a>
            <a href="https://t.me/M4sterGarden" class="social-footer__link">
              <img src="../../img/social-icons/telegram.png" alt="telegram-icon">
            </a>
            <a href="https://instagram.com/irina1994garipova?igshid=YmMyMTA2M2Y=" class="social-footer__link">
              <img src="../../img/social-icons/instagram.png" alt="instagram-icon">
            </a>
        </div>
        </div>
        <div class="footer__column">
            <div class="footer__label">Контакты</div>
            <div class="footer__contacts contacts-footer">
              <a href="tel:+79339952283" class="contacts-footer__item contacts-footer__item_phone">+7 933 995 22-83</a>
              <a href="mailto:m4stergarden@yandex.ru" class="contacts-footer__item contacts-footer__item_email">M4STERGARDEN@YANDEX.RU</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copy">&copy 2022, Ирина Аржанникова</div>
    </div>
  </div>
</footer>