.portfolio__content {
  height: 300px;
  margin: 0 0 30px 0;
  padding: 0 10px;
  border: 1px solid #4e4f3d;
}

.portfolio__title {
  font-size: 28px;
}

// -------------------------------------------- @MEDIA

@media (max-width: 767px) {
  
}