@use './components/utils/reset';
@use './components/body/wrapper';
@use './components/header/header';
@use './components/main/main';
@use './components/footer/footer';
@use './components/mediaQ/mediaQ';

@font-face {
	font-family: 'Oswald';
	src: url('./fonts/Oswald-Light.eot');
	src: local('☺'), url('./fonts/Oswald-Light.woff') format('woff'), url('./fonts/Oswald-Light.ttf') format('truetype'), url('./fonts/Oswald-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('./fonts/Oswald-Regular.eot');
	src: local('☺'), url('./fonts/Oswald-Regular.woff') format('woff'), url('./fonts/Oswald-Regular.ttf') format('truetype'), url('./fonts/Oswald-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('./fonts/Oswald-Medium.eot');
	src: local('☺'), url('./fonts/Oswald-Medium.woff') format('woff'), url('./fonts/Oswald-Medium.ttf') format('truetype'), url('./fonts/Oswald-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(31, 31, 31, 0.7);
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 50px rgb(112,138,109, 1);
	box-shadow: inset 0 0 50px rgb(112,138,109, 1);
}