$containerWidth: 1180px;

$bodyBackColor: #ffffff;
$mainColorText: #4e4e4e;
$headerHoverColor: #ffffff;
$primaryColor: #708a6d;
$secondaryColor: #4e4e4e;
$menuLinkBurgerColor: #ffffff;
$menuLinkFooterColor: #ffffff;

$mainFontWeight: 300;
$mainFontSize: 18px;
$smallFontSize: 14px;
$middleFontSize: 16px;
